[user]
  name = Dimitris
  email = safinn@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA1jZxfBRyqjDiRSjA1gp+CuyqbEkTjK7M26dTrXMNMH
[includeIf "gitdir:riskledger/"]
  path = config.work
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[core]
  editor = nvim
[alias]
  st = status
  co = checkout
  pushf = push -f
